.LoggerBox {
    position:absolute;
    width:450px;
    height:150px;
    background-color: gray;
    border: 1px solid black;
    border-radius:15px;
    transition: 1s all;
    text-align: center;
    left:0;
    bottom:0;
    margin:15px;
    padding:15px;
}

.exitButton {
    position:absolute;
    top:0;
    right:0;
    width:15px;
    height:15px;
    margin:5px;
    cursor:pointer;
    background-image: url("../../Icons/cancel-button.svg");
}